<div style="background-color: #3f51b5; padding: 0 15px;">
  <div class="row">

    <!-- Grid row-->
    <div class="col-12 col-md-7 py-3">

      <!-- Grid column -->
      <div class="text-center">
        <span id="text_social">Get connected with us on social networks!</span>
        <!-- Facebook -->
        <a class="fb-ic fa_font" target="_blank" href="https://www.facebook.com/groups/ai.freelancer/">
          <i class="fa fa-facebook-square white-text mr-4"> </i>
        </a>
        <!-- Twitter -->
        <a class="tw-ic fa_font" target="_blank" href="https://twitter.com/">
          <i class="fa fa-twitter-square white-text mr-4"> </i>
        </a>
        <!--Linkedin -->
        <a class="li-ic fa_font" target="_blank" href="https://www.linkedin.com/">
          <i class="fa fa-linkedin-square white-text mr-4"> </i>
        </a>
        <!--Instagram-->
        <a class="ins-ic fa_font" target="_blank" href="https://www.instagram.com/">
          <i class="fa fa-instagram white-text"> </i>
        </a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

    <!-- Copyright -->
    <div class="col-12 col-md-5 footer-copyright text-center text-muted">
      <span style="color: #d9d3d3;">© 2020 Copyright:</span>
      {%- if site.author %}
      <a class="dark-grey-text" href="mailto:{{ site.author.email }}">{{ site.author.name }}</a>
      {%- endif %}
    </div>
    <!-- Copyright -->

  </div>
</div>
<!-- Footer -->