---
layout: default_blog
---

<div id="main_post">
    <div class="row">
        <div class="col-12">
            {% assign tag_name = page.url | split: "/" | last %}
            <h4>Archive of posts by tag:
                <span class="badge badge-primary">
                    {{ tag_name }}
                    <span class="badge badge-light">{{site.tags[tag_name].size}}</span>
                </span>
            </h4>

            <div class="row">
                {% for post in site.tags[tag_name] %}
                <div class="col-lg-6">
                    {{forloop.index}}) <a href="{{ post.url }}">{{post.title}}</a>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>