<p>
    Most of us enjoy a good read, whether it is a novel that moves us to tears, a play that intrigues or a poem that rouses our passions, a piece of well-written literature can have an impact on our emotions, on our behaviour and on our value-systems. There are very few of us who can recall a piece of writing verbatim. There are specific quotes however, that stay with us. These can be useful in a variety of situations; from quiz to job interview, being or appearing to be well read can hold you in good stead. Here are a few examples.
</p>


<h4>Inspirational Literary Quotes</h4>

<p>From time to time, we all need a motivational boost. Sometimes we need to enthuse those around us. There is nothing more effective in these situations than a well-chosen inspirational quote from literature. Here are some favourites:
</p>


<blockquote class="blockquote">
    “It is a far, far better thing that I do, than I have ever done; it is a far, far better rest I go to than I have ever known.”
</blockquote >

<h4>A Tale of Two Cities, Charles Dickens</h4>

<p>
    At the end of A Tale of Two Cities, Sydney Carton is awaiting his death by guillotine. For the sake of love, Carton has deliberately swapped places with another and in this quote is contemplating both his own self-sacrifice and the fate of France.
</p>


<blockquote class="blockquote">
    “All we have to decide is what to do with the time that is given us.”
</blockquote>

The Fellowship of the Ring, J.R.R. Tolkein

<p>
    This quote is from a conversation between Gandalf and Frodo and follows Gandalf’s telling of the story of the Ring. Frodo expresses regret that these things have happened during his lifetime. Gandalf’s response suggests both a responsibility to do that which we have been destined to do, and a lack of control over our fates.
</p>


<blockquote class="blockquote">
    “You have brains in your head. You have feet in your shoes. You can steer yourself any direction you choose. You’re on your own. And you know what you know. And YOU are the one who’ll decide where to go…”

</blockquote>
<p>Oh, the Places You’ll Go! Dr Seuss</p>

<p>For a children’s book, ‘Oh, the Places You’ll Go!’ is pretty inspirational. We don’t find out exactly who the ‘you’ protagonist is, but the story follows him through a myriad of strange places and the reader finishes convinced of the benefit of endeavour and adventure.
</p>


<blockquote class="blockquote">
    “It matters not what someone is born, but what they grow to be.”

</blockquote>
<p>Harry Potter and the Goblet of Fire, J.K. Rowling
</p>

<p>Another book written for children but loved by adults. This is a comment made by Professor Albus Dumbledore to Cornelius Fudge. Cornelius has expressed the opinion that ‘Muggles’ and ‘Mudbloods’ (humans and half-humans) are inferior to wizards and witches. Albus responds by asserting that it is not pedigree that matters but talent.
</p>

