<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" class="h-100">
{%- include head.html -%}
{%- include javascript.html -%}

<body class="d-flex flex-column h-100">

<header>
    {%- include navbar.html -%}
</header>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container-fluid">
        <div id="blog_wrapper">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <div id="article_wrapper">
                        {{ content }}
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    {%- include right_sidebar.html -%}
                </div>
            </div>

        </div>
    </div>
</main>

<footer class="footer mt-auto">
    {%- include footer.html -%}
</footer>
<!--{%- include javascript.html -%}-->
</body>
</html>
